@{
    Layout = "_Layout.cshtml";
}

<main role="main" class="pb-3 col-md-8">
    @RenderBody()
</main>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Philip Markowski</h5>
            <p class="card-text">A neat description about me</p>
        </div>
        <ul class="list-group list-group-flush">
            <a href="https://github.com/pmarkowski">
                <li class="list-group-item">GitHub</li>
            </a>
        </ul>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
