@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var post in Model.Posts)
{
    <div class="post mb-4">
        <h2>@post.Title</h2>
        <p><small>@post.Created.ToString("MMMM d, yyyy")</small></p>
        <div class="post-content">
            @post.Content
        </div>
    </div>
}
